body{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}



 header h1{
   font-family: Verdana;
   Font-weight: Normal;
   font-size: 50px;
   color: White;



}

header a {
  color: aquamarine;
  font-size: 16px;

}

header p{



}
