body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

header h1 {
  font-family: Verdana;
  Font-weight: Normal;
  font-size: 50px;
  color: White;
}

header a {
  color: aquamarine;
  font-size: 16px;
}

.secondheader {
  font-weight: 300;
  font-size: 42px;
}

.secondparagraph {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
}
